* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globais para o Corpo da Página */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Remove estilos padrão de listas e links, se necessário */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}